@import '../../../app/variables';

.body-modal-transaction {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-transaction {
  background-color: $background-color;
  border-radius: 28px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 424px;
  margin: auto;
  color: #1D1B20;

}

.navigation-button {
  background-color: transparent;
  border: none;
  color: $primary-color;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 22px;
}

h2 {
  color: var(--M3-sys-light-on-surface, var(--Schemes-On-Surface, #1D1B20));
  font-size: var(--Headline-Small-Size, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Headline-Small-Line-Height, 32px); /* 133.333% */
  letter-spacing: var(--Headline-Small-Tracking, 0px);
}

.navigation-button:hover {
  background-color: $nav-button-hover;
}

.navigation-button:active {
  background-color: $nav-button-pressed;
}