@import '../../../../app/variables';

.title {
  color: #AB5373;
  font-size: var(--Title-Large-Size, 22px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Title-Small-Line-Height, 20px);
  letter-spacing: var(--Title-Small-Tracking, 0.1px);
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  color: $span-color;
}