@import '../../../../app/variables';

.header {
  background-color: $secondary-color;

  .container {
    display: flex;
    height: 58px;
    gap: 48px;
    align-items: center;
  }
}

.login {
  display: flex;
  gap: 16px;
  min-width: 0;

  @media only screen and (max-width: $mobile_width) {
    display: none;
  }

  @media only screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
    display: none;
  }

}

.logout {
  align-content: center;
  font-size: 18px;
  font-weight: 500;
}

.menu-item {
  color: #AB5373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.menu-container {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  padding: 0 46px;

}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}