.login-body {
  padding: 58px 16px 0;
  margin-top: 24px;
  width: fit-content;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: auto;
}

.next-button.button {
  width: auto;
}

.login-title {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span.primary-text {
  color: #40454F;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
}

span.secondary-text {
  color: #40454F;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}


.login-register {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  color: #40454F;
}

.click-text {
  color: #AB5373;
  cursor: pointer;
}

.login-footer {
  display: flex;
  flex-direction: column;
  width: auto;
}