@import '../../../app/variables';


.MuiFormControl-root {
  .MuiInputBase-input::placeholder {
    font-family: $custom-font;
    color: #79747E !important;
  }

  input {
    font-family: $custom-font !important;
    color: #79747E;
  }
}