@import '../../../app/variables';

.card-balance-actual {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid var(--Schemes-Outline-Variant, #CAC4D0);
  background: #FFF;

  .text-card-balance-actual {
    color: #635D6C;
    font-size: var(--Title-Medium-Size, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Title-Medium-Line-Height, 24px);
    letter-spacing: var(--Title-Medium-Tracking, 0.15px);
  }

  .value-card-balance-actual {
    color: #28262B;
    font-size: var(--Title-Large-Size, 22px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--Title-Large-Line-Height, 28px);
    letter-spacing: var(--Title-Large-Tracking, 0px);
  }

  @media only screen and (max-width: $mobile_width) {
    max-width: unset;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .button-change-view {
    cursor: pointer;
  }
}
