@import '../../../app/variables';

.button {
  padding: 10px 24px;
  cursor: pointer;
  gap: 8px;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: transparent;
  border: 1px solid $primary-color;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #AB5373;
  text-align: center;
  font-size: var(--Label-Large-Size, 14px);
  line-height: var(--Label-Large-Line-Height, 20px);
  letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.primary-button {
  background-color: $primary-color;
  color: white;
}

.secondary-button {
  color: #AB5373;
}