@import '../../../../app/variables';

.body {
  display: flex;
  flex-direction: column;
}

.initial-scream {
  display: flex;
  width: 100vw;
  height: calc(100vh - 54px);
  flex-direction: column;
  gap: 64px;
  z-index: 1;
  @media only screen and (max-width: 400px) {
    height: auto;
  }
}

.container-invite {
  padding: 23px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex: 1;
  height: 40vh;
}

.context-body-home {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.separation {
  border-bottom: solid 1px var(--Schemes-Outline-Variant, #CAC4D0);
}