@import '../../../app/variables';

.upload-file {
  background-color: transparent;
  border: none;
  color: $primary-color;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
}

.upload-file:hover {
  background-color: $nav-button-hover;
}

.upload-file:active {
  background-color: $nav-button-pressed;
}

.visuallyHiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}